#menu
  .header
    | #{subject} #{term}
  .body
    .menu(data-number="#{1}") 1. 秋天来了
    .menu(data-number="#{2}") 2. 秋天又来了
    .menu(data-number="#{3}") 3. 秋天来了又走了
    .menu(data-number="#{4}") 4. 秋天来了
    .menu(data-number="#{5}") 5. 秋天又来了
    .menu(data-number="#{6}") 6. 秋天来了又走了
    .menu(data-number="#{7}") 7. 秋天来了
    .menu(data-number="#{8}") 8. 秋天又来了
    .menu(data-number="#{9}") 9. 秋天来了又走了