#menu
  .header
    | #{subject} #{term}
  .body
    .menu(data-number="#{1}") 1. 秋天来了
    .menu(data-number="#{1}") 2. 秋天又来了
    .menu(data-number="#{1}") 3. 秋天来了又走了
    .menu(data-number="#{1}") 4. 秋天来了
    .menu(data-number="#{1}") 5. 秋天又来了
    .menu(data-number="#{1}") 6. 秋天来了又走了
    .menu(data-number="#{1}") 7. 秋天来了
    .menu(data-number="#{1}") 8. 秋天又来了
    .menu(data-number="#{1}") 9. 秋天来了又走了